section.about-us(style='padding:100px 0')
  .container
    .center
      .row
        .col-sm-8.col-sm-offset-2
          h1(style='margin-bottom:30px;') About Us
          p(style='margin-bottom:50px;')
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat. Duis aute irure dolor in reprehe