section#about-us.about-us(style='padding:100px 0')
  .container
    .center
      .row
        .col-sm-8.col-sm-offset-2
          h1(style='margin-bottom:30px;') About Us
          p(style='margin-bottom:50px;')
            | dnaID is a company designed for you, as a human being to take control of your most identifying trait,
            | your DNA. 
            | We have a core mission of helping medical research increase velocity to clinical trials
            | by gaining access to a larger research population for more conclusive results. 