section.board-members(style='padding:50px 0')
  .container
    .center
      .row
        .col-sm-8.col-sm-offset-2
          h1(style='margin-bottom:30px;') Advisors
          p(style='margin-bottom:50px;')
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat. Duis aute irure dolor in reprehe
    .row
      div(style='width:750px; margin: 0 auto;')
        div(style='width:360px; float:left; margin-right:30px;')
          img.img-circle.img-responsive(src='/static/images/craig.jpg', alt='Craig')
          .blurb
            .name.center
              h6 Craig Calderone
            .bio
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua.
        div(style='width:360px; float:left')
          img.img-circle.img-responsive(src='/static/images/craig.jpg', alt='Craig')
          .blurb
            .name.center
              h6 Craig Calderone
            .bio
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua.
