#contact_form.contact-form
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .center
          h1 Say Hello
          p Talk Nerdy to Us!
        form
          .row
            .col-sm-6
              .form-group
                input.form-control(type='text', placeholder='Full Name')
            .col-sm-6
              .form-group
                input.form-control(type='text', placeholder='Email')
          .row
            .col-sm-12
              .form-group(style='')
                input.form-control(type='text', placeholder="What's on your mind?")
          input.btn.btn-transparent.btn-lg.btn-block(type='submit', value='Send It')