footer
  .container-fluid
    .row
      .col-sm-4
        | © 2018 DNA iD
      .col-sm-4
        .center
          a(href='mailto:contact@dnaid.co') Contact Us - Contact@dnaid.co
      .col-sm-4
        .pull-right
          | Site by 
          span DNA iD
            
