header#top.navbar.navbar-fixed-top.bs-docs-nav(role='banner')
  .container-fluid
    .navbar-header
      img.img-responsive(src='/static/images/DNA-ID-LOGO-white.png', alt='DNA ID Logo')
    nav.navbar-collapse.bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#about-us') About Us
        li
          a(href='#team') Team
        li
          a.btn.btn-success.btn-lg(href='#contact_form') Join In
