header#top.navbar.navbar-fixed-top.bs-docs-nav(role='banner')
  .container-fluid
    .navbar-header
      a.navbar-brand(href='../')
    nav.navbar-collapse.bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#about-us') About Us
        li
          a(href='#team') Team
        li
          a.btn.btn-info.btn-lg(href='#contact_form') Join In
