section#team.notable-members(style='padding:50px 0')
  .container
    .center
      .row
        .col-sm-8.col-sm-offset-2
          h1(style='margin-bottom:30px;') Team
          p.text-muted(style='margin-bottom:50px;')
            | Our team comes from a wide range of backgrounds. From genetics researcher to mobile automation, we have a unique set of skills geared towards creating a mission driven, meaningful company that helps the world be a better place. 
    .row
      .col-sm-4
        img.img-circle.img-responsive(src='/static/images/craig.jpg', alt='Craig')
        .blurb
          .name.center
            h6 Craig Calderone
          .bio
            .center  
              a(href='https://www.linkedin.com/in/craigcalderone/' target='_blank') Linkedin
            p
              | Craig is a co-founder that comes from a background in the tech startup industry. Having worked at NASDAQ, Techstars and Leanplum, he is driving product vision. He holds a degree in Economics from Villanova University. 
            
      .col-sm-4
        img.img-circle.img-responsive(src='/static/images/pj.jpg', alt='PJ ')
        .blurb
          .name.center
            h6 PJ Smith
          .bio
            .center  
              a(href='https://www.linkedin.com/in/paultsmithjr/' target='_blank') Linkedin
            p
              | PJ is a co-founder that comes from a background in genetics and biomedical science. Having worked at Yale University and The Jackson Laboratory and holds a patent for a small molecule treatment for cystic fibrosis that's currently in FDA stage 1 clinical trials.

              
      .col-sm-4
        img.img-circle.img-responsive(src='/static/images/mike.jpg', alt='Mike ')
        .blurb
          .name.center
            h6 Michael McDevitt
          .bio
            .center  
              a(href='https://www.linkedin.com/in/mmcdevi1/' target='_blank') Linkedin
            p
              | Michael is a co-founder that comes from a background in Civil Engineering and is a self-taught developer. He will be leading the technical development of our platform.