section.notable-members(style='padding:50px 0')
  .container
    .center
      .row
        .col-sm-8.col-sm-offset-2
          h1(style='margin-bottom:30px;') Team
          p.text-muted(style='margin-bottom:50px;')
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat. Duis aute irure dolor in reprehe
    .row
      .col-sm-4
        img.img-circle.img-responsive(src='/static/images/natalie.jpg', alt='Natalie')
        .blurb
          .name.center
            h6 Natalie Portman
          .bio
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua.
      .col-sm-4
        img.img-circle.img-responsive(src='/static/images/lisa.jpg', alt='Lisa')
        .blurb
          .name.center
            h6 Lisa Simpson
          .bio
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua.
      .col-sm-4
        img.img-circle.img-responsive(src='/static/images/steve.jpg', alt='Steve')
        .blurb
          .name.center
            h6 Steve Martin
          .bio
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua.
