doctype html
html(lang="en")
  head
    title DNA id
    link(href="/static/stylesheets/bootstrap.css" type="text/css" rel="stylesheet")
    link(href="/static/stylesheets/styles.css" type="text/css" rel="stylesheet")
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='/static/javascript/text-slider.js')
  body
    block content
    include partials/footer
    script(src='/static/javascript/header_scroll.js')