extends application.pug

block content
  div(class="home")
    include partials/header
    div(class="container main-image")
      #wrapper
        #page
          #content_container
            #content
              section.text-center.hero.hero-message
                h1 
                  span(class="rotate") Curious about your DNA?, Want to help cure disease?, Need some extra cash?, Find out how much your DNA is worth
                br
                img.img-responsive(src='/static/images/DNA-infographic-web.png', alt='DNA Infographic')
                br
                br
                p.bold Sign up for our Beta launch. First 1000 customers get DNA sequencing for free!
                a.btn.btn-success.btn-lg(href='#contact_form') Sign up for early access

  include partials/about_us          
  include partials/team
  include partials/contact_form